<h1>Contributing Guide</h1>

<p>
  If you are interested in contributing to this project and making testing of
  @angular/fire simple then you are in the right place. Contributors are welcome
  but you must be prepared to stick rigidly to the practices, procedures and
  coding standards laid out in this document.
</p>
<h2>Test Driven</h2>
<p>
  This project must remain 100% test driven. That means no line of
  implementation code can exist without a test that justifies the existence. It
  means you absolutely must be able to express a requirement as a test and be
  able to automate that test, and do so first. Writing tests after the fact is
  not acceptable. You might ask yourself "How will anyone know if whether I
  wrote the test before or after". Let me assure you a consistent TDD practioner
  can tell.
</p>
<p>
  Why so strict? I have been practicing TDD for a long time and I learned from
  the people who invented it. I strongly believe that it is the only way to
  write good quality code that implements the requirements and nothing but the
  requirements. I also strongly believe that the tests are the best developer
  documentation, we can write extra documentation for users or to help people
  learn what our code does, but as a developer there is no better documentation
  than tests that not only prove the code meets requirements but also show how
  it is intended to be used and work.
</p>
<p>So before you decide to contribute to this project ask yourself.</p>
<p></p>
<ul>
  <li>>Are you prepared to practice TDD religiously</li>
  <li>
    Can you handle having pull requests delayed or rejected because we don't
    believe you practiced TDD
  </li>
  <li>
    Are you prepared to use an editor or IDE that is capable of continuously
    linting, building and testing your code
  </li>
  <li>
    Are you prepared to code to conventions and standards you might not agree
    with or that do not fit with your preferences
  </li>
</ul>
<h2>Choices</h2>
<p>
  If you decide you would like to contribute to the project you can do so in one
  of two ways. You can contribute occasional enhancements or fixes by forking
  the project and submitting a Pull Request to have changes within your fork
  merged back to this repo. If you want to become more involved in the project
  then you can become a maintainer by contacting Mike Hanson through GitHub. As
  a maintainer you would be given direct access to the repo and able to push
  changes through a clone of the project.
</p>

<h2>Work Flow</h2>
<p>
  All ehancements or changes to the project will be implemented through a
  GitFlow based process. Without exception no changes will be made or accepted
  by any means other than a Pull Request to merge changes into the default
  <em>develop</em> branch. Release branches will be prepared, tested, tweaked
  and merged into the *main* branch, which will result in an automated pipeline
  that will publish a new version of the library to NPM and a new version of the
  demo app to Firebase.
</p>
<p>
  All commits and pull requests must be linked to an issue id from the
  Development Project Board. All Pull Requests must be for a single issue, any
  PR that attempts to implement multiple features or bug fixes will be rejected
  outright.
</p>

<h2>Branching</h2>
<p>
  As mentioned we will operte a Gitflow based process. When creating a new
  branch you must use the following naming convention:
  <br />
  <em>prefix/friendly_name_id</em>
  <br />
  Where <em>prefix</em> is one of
</p>

<ul>
  <li>feature - Used only for new features and enchancements</li>
  <li>
    bug - Used only when fixing a triaged bug raised against a released feature
  </li>
  <li>
    fix - Used only when fixing an issue in a release branch that has not been
    released
  </li>
</ul>

<p>
  And <em>id</em> is the issue id the branch aims to deliver or resolve.
  <br />
  Any PR that does not match this convention will be rejected and require you to
  create a properly named branch and a new PR from that branch.
  <br />
  Branches for features and bugs must be created from the
  <em>develop</em> branch and PRs will only be considered if they merge back to
  the same <em>develop</em> branch.
  <br />
  Fix branches should be created from the appropriate pending release branch
  (there will only ever be one) and will only be considered if they merge back
  to the same release branch.
</p>

<h2>Coding Style</h2>
<p>
  The rules for coding conventions are fully captured and controlled via
  TypeScript and TS Lint (We will move to ES Lint when the Angular team do). We
  strongly urge you to use a code editor that automatically lints your code as
  you type. VS Code is the recommended editor, but whatever you use you must
  ensure your code is linted and all issues fixed before pushing a branch and
  creating a PR. Do not rely on CI builds to do your linting, anyone who
  consistently triggers failed builds due to linting errors will be barred from
  contributing to the project.
</p>

<h2>Tests</h2>
<p>
  We expect test coverage to be complete. ALWAYS write a test before anything
  else and make sure all tests pass before pushing a branch and creating a PR.
  Any PR that does not sufficiently test even the simplest of changes will be
  rejected, and as mentioned experienced TDD practitioners can tell whether
  tests were written before or after the fact so stick to the rules. If you
  don't want to practice real TDD don't even bother trying to contribute to the
  project.
</p>
<h2>Documentation</h2>
<p>
  Documentation is provide via an Angular application that is published as the
  GitHub Pages site for the repo. This enables documentation to be included and
  checked as part of the same Pull Request for changes and additions to be
  merged.
</p>
<p>
  When submitting a PR for changes to existing code we will expect to see the
  HTML of the relevant component updated. When submitting a PR for a new feature
  we will expect to see a new Angular component that full documents the feature
  added to the demo app and a new item in the side menu, linking to an
  appropriate route.
</p>
<p>
  We do not expect tests to be written for documentation pages. To create a
  documentation component use the following Angular CLI command command:
</p>
<pre>ng g c [name] --skipTests=true</pre>
<p>
  When pushing code to the repo it is important to understand and remember that
  the documentation site is automatically published from the
  <em>/docs</em> folder so before pushing you
  <em>must remember to run the build script</em> using the following command
</p>
<pre>npm run build</pre>
<p>
  This script not only builds the Angular app into the docs folder, it uses the
  <em>base-href</em> command line argument to set the correct base href value in
  index.html required for the Angular app to run in GitHub pages.
</p>
<h3>Code Examples</h3>
<p>
  In documentation and examples you will want to include TypeScript code. To
  support formatting and syntax highlighting the app imports the
  <em>ngx-highlightjs</em> module. This module includes a
  <em>code</em> directive that you can use along with template strings in
  component classes to display code formatted and colour coded.  The following uses the HTML module
  of this component to format the example usage taken from <em>home.component.html</em>
</p>
<pre><code [highlight]="html"></code></pre>
<p>In this example the <em>code </em> property of the component is defined as a template string like this</p>
<pre><code [highlight]="code"></code></pre>
